.input/*
__pycache__/clicklabel.cpython-310.pyc
__pycache__/map.cpython-310.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/sinnoh.iml
.idea/vcs.xml
