.input/*
__pycache__/clicklabel.cpython-310.pyc
__pycache__/map.cpython-310.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/sinnoh.iml
.idea/vcs.xml
__pycache__/main.cpython-310.pyc
build.spec
build/build/Analysis-00.toc
build/build/base_library.zip
build/build/build.exe.manifest
build/build/EXE-00.toc
build/build/PKG-00.toc
build/build/PYZ-00.pyz
build/build/PYZ-00.toc
build/build/Sinnoh Map Matrix Editor.pkg
build/build/Tree-00.toc
build/build/Tree-01.toc
build/build/Tree-02.toc
build/build/warn-build.txt
build/build/xref-build.html
inputbase/uSinnoh.json
inputbase/SinnohAttribute_sp.json
inputbase/SinnohAttribute_Ex_sp.json
inputbase/SinnohAttribute_Ex.json
inputbase/SinnohAttribute.json
inputbase/Sinnoh.json
input/SinnohAttribute_sp.json
input/SinnohAttribute_Ex_sp.json
input/SinnohAttribute_Ex.json
input/SinnohAttribute.json
input/Sinnoh.json
dist/Sinnoh Map Matrix Editor.exe
output/Sinnoh.json
output/SinnohAttribute.json
output/SinnohAttribute_Ex.json
output/SinnohAttribute_Ex_sp.json
output/SinnohAttribute_sp.json
